<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	

    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="booking-content">
                  <div class="booking-image">
                    <img class="booking-img" src="images/form-img.jpg" alt="Booking Image">
                </div>
                <div class="booking-form">
                    <form  action="upload"  enctype="multipart/form-data" method="POST"">
                        <h2>Profile</h2>
			

			<div class="form-group form-input">
                          <table class="table table-hover text-center">
					<tr><td style='font-size:20px'>Hello</td><td style='font-size:20px'><%= name %></td></tr>
					<tr><td>Email </td><td><%= email %></td></tr>
			  </table>
                        </div>

                        <div class="form-group form-input">
                            	<input type="file" name="myFiles" style="opacity:10;width:192px" class="submit" id="myFiles" multiple accept=".csv,.json,.xml">

				<div class="form-group form-input">
                          		Please select CSV, XML or JSON files only
                        	</div>

				<div class="form-submit">
                            		<input type="submit" value="Upload" class="submit">
                      		</div>
                        </div>
			
			</br>
			</br>
					<div class="form-submit">

			  <table class="table table-hover text-center">
					<tr><td><a href="/logout">Logout</a></td><td style='width:6px'></td><td></td><td><a class="submitT" href="/graph1">Graph 1</a></td><td>  <a class="submitT" href="/graph2">Graph 2</a> </td></tr>
			  </table>
                      	</div>


                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->


</html>
